<!-- Format using UppercasePipe {{hero.name | uppercase}}-->
<!-- [(ngModel)] is Angular's two-way data binding syntax -->
<!-- Have to add FormsModule for it to work -->
<!-- (click) are events -->

<h2>
  <ul class='heroes'>
    <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)" >
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
</h2>

<!-- Property binding -->
<!-- Giving selectedHero to the @Input() hero: hero -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
